APOLLO_KRFB_PASSWORD=change-me
APOLLO_VIRTUAL_RESOLUTION=1920x1080
APOLLO_VIRTUAL_NAME=Apollo-Display
APOLLO_KWIN_OUTPUT_NAME=Virtual-Apollo-Display
APOLLO_VIRTUAL_PORT=5905
APOLLO_PRIMARY_OUTPUT=HDMI-A-1
APOLLO_SECONDARY_OUTPUT=HDMI-A-2
APOLLO_DISABLE_PHYSICAL_ON_STREAM=disabled
